.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
log/
target/
*/src/main/resources/ 
